.error-notification {
    border: 2px solid red;
    background: linear-gradient(90deg, rgba(255,0,0,1) 2%, rgba(255,255,255,0.4172494172494172) 100%);;
    border-radius: 5px;
    padding: 10px;
    color: white
}

.success-notification {
    border: 2px solid #71d615;
    background: linear-gradient(90deg, rgba(255,0,0,1) 2%, rgba(255,255,255,0.4172494172494172) 100%);;
    background: linear-gradient(90deg, rgba(113,214,21,1) 0%, rgba(255,255,255,1) 100%);

    border-radius: 5px;
    padding: 10px;
    color: white
}

button {
    padding: 5px;
    font-weight: 900;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 5px;
}

.button_red {
    background-color: #c61e1e;
    color: white;
}

button:hover {
    cursor: pointer;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog {
    border: 2px solid black;
    margin: 4px 0 4px 0;
    padding: 5px;
}